:root{
  --text-color: #333;
  --accent-color-green: #0a775f;
  --accent-color-green-80: rgba(10, 119, 95, 0.8);
  --accent-color-green-60: rgba(10, 119, 95, 0.6);
  --accent-color-light-brown: #c99b67;
  --accent-color-light-brown-80: rgb(201, 155, 103, 0.8);
  --accent-color-light-brown-60: rgb(201, 155, 103, 0.6);
  --light-index-collection-bgc: #f8f8f2;
  --light-brown: #f3d7b7;
}
@font-face {
    font-family: "Roboto";
    src: url("../coffeeroasters-fonts/Roboto-Regular.woff2") format("woff2"),
        url("../coffeeroasters-fonts/Roboto-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../coffeeroasters-fonts/Roboto-Bold.woff2") format("woff2"),
        url("../coffeeroasters-fonts/Roboto-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../coffeeroasters-fonts/Roboto-Medium.woff2") format("woff2"),
        url("../coffeeroasters-fonts/Roboto-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
/* GLOBAL */

html{
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}
*:focus {
  outline: 2px dashed var(--accent-color-green);
  outline-offset: 2px;
}
*,
::after,
::before{
  box-sizing: inherit;
}
body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.75%;
  background-color: #fff;
  color: var(--text-color);
  overflow-x: hidden;
}


/* CONTAINER */
.container{
  width: 100%;
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* BUTTOM */
.button {
  display: inline-block;
  text-decoration: none;
  padding: 16px 24px;
  border: none;
  border-radius: 100px;
  color:#fff;
  font-weight: 500;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  white-space: nowrap;
}
.button-green {
  background-color: var(--accent-color-green)
}
.button-green:hover {
  background-color: var(--accent-color-green-80)
}
.button-green:active {
  background-color: var(--accent-color-green-60)
}

.button-light-brown {
  background-color: var(--accent-color-light-brown)
}
.button-light-brown:hover {
  background-color: var(--accent-color-light-brown-80)
}
.button-light-brown:active {
  background-color: var(--accent-color-light-brown-60)
}

/* SITE HEADER */
.site-headeer-hero-wrapper{
  background-image: url(../img/header-bgi.jpg);
  background-color: #F3D7B7;
}
.site-header{
  padding: 40px 50px;
}
.site-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;
}
.site-main-logo-link{
  text-decoration: none;
  display: flex;
  flex-shrink: 0;
}
.site-main-logo-link:hover{
  opacity: 0.8;
}
.site-main-logo-link:active {
  opacity: 0.6;
}
.site-main-logo {
  width: 235;
  height: 24px;
  object-fit: contain;
}


/* SITENAV */
.sitenav-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.sitenav-item {
  list-style: none;
  font-weight: 700;
  font-size: 12px;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;

}
.sitenav-item:not(:last-child) {
  margin-right: 40px;
}
.sitenav-link {
  display: block;
  text-decoration: none;
  color: var(--text-color);
  white-space: nowrap;
}

.sitenav-link:hover{
  color: var(--accent-color-green);
}

/* HERO */
.hero-inner{
  display: flex;
  padding-left: 0;
  padding-right: 0;
}

.hero-info-wrapper {
  width: 100%;
  max-width: 730px;
  padding-top: 116px;
  margin-left: 150px;
  padding-right: 116px;
}
.hero-heading {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #000000;
  margin-bottom: 24px;
}
.hero-text {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: #000000;
}

.hero-text:not(:last-child){
  margin-bottom: 34px;
}

.hero-img-box{
  display: flex;
  position: relative;
}

.hero-badge{
  position: absolute;
  top: -70px;
  left: -80px;
}

.hero-img-index {
  width: 710px;
  height: 696px;
}

/* MAIN CONTENT */
.main-content{
  flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 50px;
}

/* INDEX-COLLECTION */
.index-collection{
  margin-bottom: 20px;
}
.index-collection-inner {
  position: relative;
  background-color: var(--light-index-collection-bgc);
  background-image: url(../img/index-collection-bgi.jpg);
}

.leaves-lift{
  position: absolute;
  top: 40px;
  left: -158px;
}
.leaves-lift-light{
  position: absolute;
  bottom: 170px;
  left: -190px;
}
.leaves-right-mix{
  position: absolute;
  bottom: 460px;
  right: -290px;
}
.index-collection-heading {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  color: #000000;
  padding-top: 50px;
  margin-bottom: 30px;
}
.index-collection-list {
  padding: 0;
  margin: 0;
  list-style: none;
  padding: 50px 143px;
}
.index-collection-item {
  display: flex;
  align-items: center;
}
.index-collection-item-packet-img {
  flex-shrink: 0;
  width: 450px;
  height: 375px;
  object-fit: cover;

}
.index-collection-info {
  margin-left: 117px;
  margin-right: 117px;
  flex-grow: 1;
}
.index-collection-item-heading {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.index-collection-item-text {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  margin: 0;
}

.index-collection-item-text:not(:last-child){
  margin-bottom: 10px;
}

/* INDEX-FEATURES */
.index-features{
  margin-bottom: 30px;
}
.index-features-inner {
  padding: 50px 30px;
  /* background-color: var(--accent-color-light-brown); */
  background-image: url(../img/index-features-bgi.jpg);
  /* background-size: 100% 703px; */
  background-repeat: no-repeat;
}
.index-features-heading {
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
  margin: 0;
  color: #fff;
}
.index-features-text {
  margin: 0;
  width: 100%;
  max-width: 580px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;
  line-height: 28px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}
.index-features-list {
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: -20px;
  list-style: none;
}
.index-features-item {
  width: calc(100% / 3 -20px);
  margin-left: 20px;
}
.index-features-item-img {
  object-fit: cover;
  width: 433px;
  height: 500px;
  margin-bottom: 28px;
}
.index-features-item-heading {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.index-features-item-text {
  margin: 0;
  width: 100%;
  max-width: 377px;
  font-size: 18px;
  line-height: 28px;
}
.index-features-item-text:not(:last-child) {
  margin-bottom: 10px;
}


/* HOW IT WORKING */
.how-it-works-inner {
  position: relative;
  background-color: var(--accent-color-green);
  background-image: url(../img/green-bgi.jpg);
  padding: 50px 30px;
  text-align: center;
}
.coffee-first-sticker{
  position: absolute;
  top: 63px;
  right: 42px;
}
.how-it-works-heading {
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0px;
}
.how-it-works-list {

  padding: 0;
  margin: 0;
  padding: 20px;
  margin-left: -20px;
  margin-bottom: 60px;
  display: flex;
  text-align: left;
  list-style: none;
  counter-reset: how-it-works;
}

.how-it-works-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100% / 3 -20px);
  margin-left: 20px;
  counter-increment: how-it-works;
}
.how-it-works-item::before {
  z-index: 2;
  width: 60px;
  height: 60px;
  border: 4px solid var(--accent-color-light-brown);
  background-color: var(--light-brown);
  margin-bottom: 20px;
  content: "";
}

.how-it-works-item:not(:last-child):after{
  position: absolute;
  left: 30px;
  top: 30px;
  content: "";
  width: 440px;
  height: 3px;
  background-image: url(../img/brown-dashed-line.svg);
  background-repeat: no-repeat;

}
.how-it-works-info::before{
  content: "0"counter(how-it-works);
  margin-bottom: 45px;
  align-self: flex-end;
  font-size: 64px;
  line-height: 75px;
  opacity: 0.8;
}

.how-it-works-info{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--light-index-collection-bgc);
  padding: 20px 20px 40px;
}
/* .item-couter {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  color: rgba(51, 51, 51, 0.8);
  margin-bottom: 45px;
} */
.item-heading {
  margin: 0;
  width: 100%;
  max-width: 250px;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}
.item-text {
  margin: 0;
  width: 100%;
  min-width: 385px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.how-it-works-cta:focus{
  outline-color: var(--accent-color-light-brown);
}

/* SITE-FOOTER */
.site-footer{
  background-image: url(../img/header-bgi.jpg);
}
.site-footer-inner {
  padding: 70px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-footer-sitenav-list {
  display: flex;
  list-style: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.site-footer-sitenav-item:not(:last-child) {
  margin-right: 40px;
}
.site-footer-sitenav-link {
  text-decoration: none;
  color: var(--text-color)
}
.socials-list {
  display: flex;
  align-items: center;
  list-style: none;

}
.socials-item:not(:last-child) {
  margin-right: 30px;
}
.socials-link{
  display: inline-block;
}
/* RETENA SCREEN */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .site-headeer-hero-wrapper{
    background-image: url(../img/header-bgi@2x.jpg);
  }
  .index-collection {
    background-image: url(../img/index-collection-bgi@2x.jpg);
  }
  .index-features-inner {
    background-image: url(../img/index-features-bgi@2x.jpg);
  }
  .how-it-works-inner {
    background-image: url(../img/green-bgi@2x.jpg);
  }
  .site-footer{
  background-image: url(../img/header-bgi@2x.jpg);
  }
}